@media all and (max-width: 479px) {

    /* basic page */

    #logo {
        width: 154px;
        margin-top: 13px;
    }

    .mobile-menu-btn {
        height: 47px;
        margin-top: 6px;
    }

    /* schedule */
    .cd-schedule .event-date {
        font-size: 14px;
    }

    .cd-schedule .event-name {
        font-size: 16px;
    }

    /* front */

    .slider-img {
        height: 230px;
    }

    .time-box {
        background: transparent;
    }

    a.time-link {
        padding: 50px 40px 46px;
        font-size: 27px;
        line-height: 1.2em;
        background-size: 15px auto;
        max-width: 320px;
        margin: 0 auto 0;
    }

    .fb-feed {
        padding: 30px 0;
    }

    /* sektionssida */

    .content-box {
        padding: 35px 0;
    }

    .content-box h1, .content-box h2 {
        font-size: 22px;
    }

    .instructors {
        padding: 40px 0;
    }



}

@media all and (max-width: 399px) {

    /* front */

    .slide-text {
        padding: 25px;
    }
    .slide-text h1 {
        font-size: 20px;
    }

    a.time-link span{
        padding: 50px 30px 46px;
        font-size: 20px;
        max-width: 256px;
    }

    .fb-feed h3 {
        font-size: 18px;
    }

    /* sektionsida */

    .person {
        width: 100%;
        margin: 0 0 30px 0;
        float: none;
    }

    .person:nth-of-type(4n){
        margin-right: 0;
    }

}