@media all and (max-width: 767px) {

    /* basic page */

    .inner{
        width: 94%;
    }

    #mobile-menu a {
        font-size: 14px;
    }

    .footer-item {
        display: block;
        padding: 10px 0;
    }

    /* front */

    .slider-img {
        background-position: left 36% center;
    }

    .slide-text {
        top: 0;
        position: relative;
        width: 100%;
        right: 0;
        background: #1c1c1c;
    }

    .section-item {
        width: 100%;
        margin: 0 0 50px;
        float: none;
    }

    .section-text {
        height: auto;
        max-width: 400px;
        margin: 0 auto 20px;
    }

    .section-item:nth-of-type(3) {
        margin-bottom: 0;
    }

    .time-box {
        background-size: cover;
    }

    a.time-link span{
        background-size: 20px auto;
        padding: 60px 50px 60px 0;
        font-size: 24px;
    }

    .fb-item {
        float: none;
        width: 100%;
        min-height: 0;
        margin: 20px 0 0 0;
    }


    /* sektionssida */


    .content-box {
       padding: 45px 0;
    }

    .content-box h1,
    .content-box h2 {
        font-size: 28px;
    }

    .image-box,
    .text-box,
    .content-box:nth-child(2n) .text-box,
    .content-box:nth-child(2n) .image-box {
        width: 100%;
        float: none;
        margin: 0;
    }

    .image-box,
    .content-box:nth-child(2n) .image-box {
        margin-top: 30px;
    }


    .person {
        width: 27%;
        margin: 0 9% 30px 0;
        float: left;
    }

    .person:nth-of-type(4n){
        margin-right: 9%;
    }
    .person:nth-of-type(3n){
        margin-right: 0;
    }
    .person:nth-of-type(4n+1){
        clear: none;
    }
    .person:nth-of-type(3n+1){
        clear: both;
    }


    /* schedule */

     .cd-schedule {
        width: 100%;
        padding-left: 3%;
    }

    .cd-schedule ul {
        padding: 0;
    }

    .cd-schedule .events {
        width: calc(100%);
        margin-left: 0;
    }

    .cd-schedule .events .top-info {
        padding: 0;
    }

    .cd-schedule .events .top-info > span {
        font-size: 16px;
    }

    .cd-schedule .event-date {
        font-size: 16px;
        font-weight: 600;
    }

    .cd-schedule .event-name {
        font-size: 18px;
        font-weight: 600;
    }
}



@media all and (max-width: 599px) {
    /* basic page */

    .inner{
        width: 90%;
    }

    /* front */

    .slider-img {
        height: 300px;
    }



    /* sektionssida */

    .person {
        width: 46%;
        margin: 0 6% 30px 0;
        float: left;
        text-align: center;
    }

    .person:nth-of-type(3n){
        margin-right: 6%;
    }
    .person:nth-of-type(2n){
        margin-right: 0;
    }
    .person:nth-of-type(3n+1){
        clear: none;
    }
    .person:nth-of-type(2n+1){
        clear: both;
    }

}